<table>
  <tbody>
    <tr>
      <th>IMAP Host Address</th>
      <td>
        <input type="text" id="settings_host" 
                           value="<%= settings['host'] %>" 
                           name="settings[host]" >
      </td>
    </tr>
    <tr>
      <th>IMAP Host Port</th>
      <td>
        <input type="text" id="settings_port" 
                           value="<%= settings['port'] %>" 
                           name="settings[port]" >
      </td>
    </tr>
    <tr>
      <th>Authentication Source Name</th>
      <td>
        <input type="text" id="settings_name" 
                           value="<%= settings['name'] %>" 
                           name="settings[name]" >
      </td>
    </tr>
  </tbody>
</table>
